<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../%231-4%20Data%20Structure.js" defer></script>
    <title>Document</title>
</head>
<body>
<label for="userInput">Enter Your text</label>
<div></div>
<textarea name="text" id="userInput" cols="30" rows="10"></textarea>
<div></div>
<button class="btn">Analyze</button>
<div class="output"></div>
</body>
</html>